/* Code tidied up by ScrapBook */
html { touch-action: manipulation; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(28, 30, 33); direction: ltr; line-height: 1.34; margin: 0px; padding: 0px; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: Helvetica,Arial,sans-serif; font-size: 12px; }
b, strong { font-weight: 600; }
img { border: 0px none; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
._li._li._li { overflow: initial; }
body.plugin { background: transparent none repeat scroll 0% 0%; font-family: Helvetica,Arial,sans-serif; line-height: 1.28; overflow: hidden; -moz-text-size-adjust: none; }
.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea { font-size: 11px; }
@keyframes burst {
0% { background-position: 0px 0px; }
100% { background-position: -616px 0px; }
}
@keyframes rotateSpinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes piyqo8ul-B {
0% { opacity: 0.02; }
100% { opacity: 0.08; }
}
@keyframes srbsyapi-B {
0%, 100% { opacity: 0; }
}
@keyframes avtbon7i-B {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes jagijxx8-B {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes qkfljus2-B {
0% { transform: translateX(-100%); }
100% { transform: translateX(0px); }
}
@media screen {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media screen and (max-width: 580px) {
}
@media (max-width: 760px) {
}
@media screen and (max-width: 700px) {
}
@media (min-width: 450px) {
}
@media screen and (max-width: 580px) {
}
@media (max-width: 1200px) and (orientation: portrait) {
}
@media screen and (max-width: 580px) {
}
@media (max-width: 1200px) {
}
@media (min-width: 450px) {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media (max-width: 1200px) {
}
@media screen and (max-width: 700px) {
}
@media (max-width: 1200px) and (orientation: portrait) {
}
