/* Code tidied up by ScrapBook */
@font-face {
  font-family: "FontAwesome";
  font-stretch: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("FontAwesome.otf") format("opentype"), url("fontawesome-webfont.svg") format("svg"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.woff2") format("woff2");
}
.fa { display: inline-block; font-family: "FontAwesome"; font-style: normal; font-weight: normal; font-stretch: normal; font-size: inherit; text-rendering: auto; transform: translate(0px, 0px); }
.fa-chevron-up::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook-f::before, .fa-facebook::before { content: ""; }
.fa-facebook::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-link::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-instagram::before { content: ""; }
@font-face {
  font-family: "plethora-hotel";
  font-stretch: normal;
  src: url("plethora-hotel.eot") format("embedded-opentype"), url("plethora-hotel.svg") format("svg"), url("plethora-hotel.ttf") format("truetype"), url("plethora-hotel.woff") format("woff");
}
