/* Code tidied up by ScrapBook */
.bg_vtop { background-position: center top ! important; }
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
.width_50pc { width: 50%; }
@media (min-width: 768px) {
}
.boxed_plus { padding: 40px 36px ! important; }
.transparent, .transparent_film { background-color: transparent ! important; }
.transparent_film > * { position: relative; }
.transparent_film::before { display: block; content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 0; background-color: rgba(244, 244, 244, 0.5); }
.black_section.transparent_film::before { background-color: rgba(0, 0, 0, 0.5); }
.padding_top_none { padding-top: 0px ! important; }
.padding_bottom_none { padding-bottom: 0px ! important; }
@media only screen and (min-width: 768px) {
}
body { background-color: rgb(244, 244, 244); color: rgb(50, 50, 50); font-family: "MS Sans Serif",Geneva,sans-serif,sans-serif; font-size: 18px; font-weight: normal; line-height: 1.5; overflow-x: hidden; }
@media only screen and (max-width: 768px) {
  body { font-size: 17px; }
}
body.sticky_header:not(.transparent_header) { margin-top: 98px; }
@media only screen and (max-width: 991px) {
  body.sticky_header:not(.transparent_header) { margin-top: 84px; }
}
@media only screen and (max-width: 767px) {
  body.sticky_header:not(.transparent_header) { margin-top: 70px; }
}
#page_wrapper { overflow: hidden; position: relative; }
a { color: rgb(111, 181, 134); }
a:hover, a:active, a:focus { text-decoration: none; color: rgb(73, 143, 96); }
a:focus { outline: medium none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: Playfair Display,sans-serif; font-weight: 700; line-height: 1.1; text-transform: uppercase; margin-top: 27px; margin-bottom: 13.5px; }
* + h1, * + h2, * + h3, * + .h1, * + .h2, * + .h3 { margin-top: 27px; }
h1, .h1 { font-size: 40px; }
@media only screen and (max-width: 991px) {
  h1, .h1 { font-size: 36px; }
}
@media only screen and (max-width: 768px) {
  h1, .h1 { font-size: 32px; }
}
@media only screen and (max-width: 480px) {
  h1, .h1 { font-size: 28px; }
}
h2, .h2 { font-size: 33px; }
@media only screen and (max-width: 991px) {
  h2, .h2 { font-size: 29.7px; }
}
@media only screen and (max-width: 768px) {
  h2, .h2 { font-size: 26.4px; }
}
@media only screen and (max-width: 480px) {
  h2, .h2 { font-size: 23.1px; }
}
h3, .h3 { font-size: 30px; }
@media only screen and (max-width: 991px) {
  h3, .h3 { font-size: 28.5px; }
}
@media only screen and (max-width: 768px) {
  h3, .h3 { font-size: 25.5px; }
}
@media only screen and (max-width: 480px) {
  h3, .h3 { font-size: 22.5px; }
}
h4, .h4 { font-size: 20px; }
@media only screen and (max-width: 991px) {
  h4, .h4 { font-size: 19px; }
}
@media only screen and (max-width: 768px) {
  h4, .h4 { font-size: 17px; }
}
@media only screen and (max-width: 480px) {
  h4, .h4 { font-size: 15px; }
}
p { margin: 0px 0px 13.5px; }
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
img { max-width: 100%; height: auto; }
i.fa { font-style: normal; }
iframe { border: medium none; max-width: 100%; }
ul, ol { margin-top: 0px; margin-bottom: 13.5px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
.header { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); transition: all 0.2s ease-in-out 0s; position: relative; z-index: 10; }
.header .container, .header .container-fluid { position: relative; min-height: 37px; }
.header a:link, .header a:visited { color: rgb(255, 255, 255); }
.header a:hover, .header a:active { color: rgb(255, 255, 255); }
.header.transparent { position: absolute; width: 100%; background-color: rgba(0, 0, 0, 0.28) ! important; }
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 991px) {
}
.header.logo_centered_in_menu { text-align: center; }
.header.logo_centered_in_menu .logo { display: block; margin: 24px 0px; }
.header.logo_centered_in_menu .logo a.brand { text-align: center; }
@media only screen and (max-width: 991px) {
  .header.logo_centered_in_menu .logo { margin: 20px; }
}
@media only screen and (max-width: 768px) {
  .header.logo_centered_in_menu .logo { margin: 16px; }
}
.header.logo_centered_in_menu .main_nav_wrapper { position: relative; right: inherit; left: inherit; padding: 0px; margin: 0px; transform: translate(0px, 0px); text-align: center; display: block; }
@media only screen and (max-width: 991px) {
  .header.logo_centered_in_menu .main_nav_wrapper { margin: 0px; padding: 0px; height: 0px; position: absolute; }
}
.header.logo_centered_in_menu .primary_nav > ul > li { text-align: left; }
.header.logo_centered_in_menu nav.primary_nav ul li a.brand::before { background: transparent none repeat scroll 0% 0% ! important; }
.header.sticky_header { left: 0px; position: fixed; top: 0px; width: 100%; }
.header.sticky_header.transparent { position: fixed; }
.logo { margin: 24px 0px; display: inline-block; }
.logo a.brand { display: block; line-height: 1em; text-align: left; font-weight: 900; }
.logo a.brand img { width: auto; max-height: 50px; }
.logo a.brand:link, .logo a.brand:visited { color: rgb(255, 255, 255); }
.logo a.brand:hover, .logo a.brand:active { color: rgb(255, 255, 255); }
.header nav.primary_nav ul li.logo_in_nav { display: inline-block; }
@media only screen and (max-width: 991px) {
  .logo { margin: 20px 0px; }
  .logo a.brand img { max-height: 44px; }
}
@media only screen and (max-width: 767px) {
  .logo { margin: 16px 0px; }
  .logo a.brand img { max-height: 38px; }
}
.main_nav_wrapper { display: block; position: absolute; width: auto; white-space: nowrap; top: 50%; transform: translate(0px, -50%); right: 0px; }
.toggler_and_tools { position: absolute; top: 50%; transform: translate(0px, -50%); right: 0px; padding-left: 15px; }
@media only screen and (min-width: 991px) {
  a.menu-toggler .above_threshold { display: inline-block; }
  a.menu-toggler .below_threshold { display: none; }
}
@media only screen and (max-width: 991px) {
  a.menu-toggler .above_threshold { display: none; }
  a.menu-toggler .below_threshold { display: inline-block; }
}
a.menu-toggler { box-sizing: content-box; display: inline-block; font-size: 13px; cursor: pointer; padding: 12px 0px; min-width: 32px; height: inherit; line-height: 13px; color: rgb(255, 255, 255); background-color: transparent; transition: all 600ms ease-in-out 0s; }
a.menu-toggler:hover { color: rgb(255, 255, 255); }
a.menu-toggler:hover span.lines, a.menu-toggler:hover span.lines::before, a.menu-toggler:hover span.lines::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
a.menu-toggler span.title { padding: 0px 55px 0px 12px; text-transform: uppercase; }
a.menu-toggler span.lines, a.menu-toggler span.lines::before, a.menu-toggler span.lines::after { cursor: pointer; height: 1px; width: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; right: 14.4px; top: 12px; display: block; content: ""; transition: all 300ms ease-in-out 0s; }
a.menu-toggler span.lines::before { top: 6px; right: 0px; }
a.menu-toggler span.lines::after { top: 12px; right: 0px; }
@media only screen and (min-width: 991px) {
}
@media only screen and (min-width: 991px) {
}
@media only screen and (max-width: 991px) {
}
.header nav.primary_nav > ul > li > ul { visibility: hidden; }
@media only screen and (min-width: 991px) {
}
.header nav.primary_nav { visibility: hidden; display: inline-block; font-family: "MS Sans Serif",Geneva,sans-serif,sans-serif; }
.header nav.primary_nav ul { list-style: outside none none; margin: 0px; padding: 0px; }
.header nav.primary_nav ul li { display: inline-block; }
.header nav.primary_nav ul li a { font-size: 13px; text-transform: uppercase; text-decoration: none; font-weight: 500; line-height: 1em; padding: 12px 0px; margin: 0px 15px; display: inline-block; vertical-align: middle; transform: translateZ(0px); box-shadow: 0px 0px 1px transparent; backface-visibility: hidden; position: relative; overflow: hidden; }
@media (min-width: 992px) and (max-width: 1199px) {
  .header nav.primary_nav ul li a { padding: 10px 0px; margin: 0px 10px; }
}
.header nav.primary_nav ul li a::before { content: ""; position: absolute; z-index: -1; left: 0px; right: 100%; bottom: 0px; background: rgb(111, 181, 134) none repeat scroll 0% 0%; height: 1px; transition-duration: 0.3s; transition-timing-function: ease-out; }
.header nav.primary_nav ul li a:hover::before, .header nav.primary_nav ul li a:focus::before, .header nav.primary_nav ul li a:active::before { right: 0px; }
.header nav.primary_nav ul li a:link, .header nav.primary_nav ul li a:visited, .header nav.primary_nav ul li a:focus { color: rgb(255, 255, 255); background: transparent none repeat scroll 0% 0%; }
.header nav.primary_nav ul li a:hover, .header nav.primary_nav ul li a:active { color: rgb(255, 255, 255); background: transparent none repeat scroll 0% 0%; }
.header nav.primary_nav ul li.logo_in_nav a { padding: 0px 15px; }
.header nav.primary_nav ul li.active > a::before { right: 0px; }
.header nav.primary_nav ul li.active > a:link, .header nav.primary_nav ul li.active > a:visited, .header nav.primary_nav ul li.active > a:focus { color: rgb(255, 255, 255); }
.header nav.primary_nav ul li.active > a:hover, .header nav.primary_nav ul li.active > a:active { color: rgb(255, 255, 255); }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) { position: relative; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren)::after { display: block; width: 13px; height: 13px; line-height: 13px; text-align: center; content: "❯"; font-size: 10px; font-weight: normal; transform: rotate(90deg); position: absolute; top: 12px; right: 0px; opacity: 0.1; }
.header nav.primary_nav ul li.lihaschildren:hover:not(.sublihaschildren)::after { opacity: 1; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) ul.menu-dropdown-content { background-color: rgb(0, 0, 0); position: absolute; left: 0px; min-width: 150px; padding: 12px 0px; visibility: hidden; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) ul.menu-dropdown-content li { display: block; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) ul.menu-dropdown-content li a { display: block; font-size: 12px; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) .sublihaschildren { position: relative; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) .sublihaschildren > a::after { display: block; width: 13px; height: 13px; line-height: 13px; text-align: center; content: "❯"; font-size: 10px; font-weight: normal; position: absolute; top: 12px; right: 5px; opacity: 0.5; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) .sublihaschildren:hover > a::after { opacity: 1; }
.header nav.primary_nav ul li.lihaschildren:not(.sublihaschildren) .sublihaschildren ul.menu-dropdown-content { height: auto; visibility: hidden; position: absolute; top: -12px; left: 100%; }
.header nav.primary_nav ul.hover_menu li.lihaschildren:hover > ul.menu-dropdown-content, .header nav.primary_nav ul.hover_menu li.sublihaschildren:hover > ul.menu-dropdown-content { display: block ! important; visibility: visible; }
.secondary_nav_widgetized_area { position: fixed; height: 100%; right: 0px; top: 0px; visibility: hidden; z-index: 9; width: 320px; background-color: rgb(0, 0, 0); padding: 3px 0px; overflow-y: auto; backface-visibility: hidden; transition: all 0.2s ease-in-out 0s; transform: translate(100%, 0px); }
.secondary_nav_widgetized_area aside.widget { margin-right: 30px; margin-left: 30px; margin-bottom: 24px; color: rgb(255, 255, 255); }
.head_panel { position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.head_panel .container, .head_panel .container-fluid { padding-top: 166px; padding-bottom: 170px; min-height: 380px; }
@media (max-width: 992px) {
  .head_panel .container, .head_panel .container-fluid { padding-top: 150px; padding-bottom: 60px; min-height: 280px; }
}
@media (max-width: 768px) {
  .head_panel .container, .head_panel .container-fluid { padding-top: 120px; padding-bottom: 40px; min-height: 80px; }
}
.head_panel .hgroup.text-center.width_80pc, .head_panel .hgroup.text-center.width_50pc { margin: 0px auto; }
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
.head_panel .hgroup h1.title { line-height: 1em; font-weight: bold; margin: 0px; padding: 0px; }
.head_panel .hgroup h1.title + .ple_breadcrumb_wrapper { padding: 16px 0px 0px; }
.head_panel .hgroup.large_hgroup_styling h1.title { font-size: 86px; }
@media (max-width: 992px) {
  .head_panel .hgroup.large_hgroup_styling h1.title { font-size: 60px; }
}
@media (max-width: 768px) {
  .head_panel .hgroup.large_hgroup_styling h1.title { font-size: 36px; }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
.main { position: relative; transition: all 0.2s ease-in-out 0s; z-index: 9; }
.main .vc_row { position: relative; background-color: rgb(244, 244, 244); background-position: center center; background-repeat: no-repeat; background-size: cover; padding-top: 96px; padding-bottom: 96px; border-color: rgb(244, 244, 244); }
.main .vc_row div[class*="col-"] { background-position: center center; background-repeat: no-repeat; background-size: cover; }
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
.black_section, .main .black_section, [class*="_section"] .black_section, [class*="_section"] [class*="_section"] .black_section { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); border-color: rgb(0, 0, 0); }
.white_section, .main .white_section, [class*="_section"] .white_section, [class*="_section"] [class*="_section"] .white_section { background-color: rgb(255, 255, 255); color: rgb(50, 50, 50); border-color: rgb(255, 255, 255); }
.white_section a:link, .main .white_section a:link, [class*="_section"] .white_section a:link, [class*="_section"] [class*="_section"] .white_section a:link, .white_section a:visited, .main .white_section a:visited, [class*="_section"] .white_section a:visited, [class*="_section"] [class*="_section"] .white_section a:visited { color: rgb(111, 181, 134); }
.white_section a:hover, .main .white_section a:hover, [class*="_section"] .white_section a:hover, [class*="_section"] [class*="_section"] .white_section a:hover, .white_section a:active, .main .white_section a:active, [class*="_section"] .white_section a:active, [class*="_section"] [class*="_section"] .white_section a:active { color: rgb(73, 143, 96); }
@media (max-width: 767px) {
}
.btn { display: inline-block; background-image: none; background-color: transparent; font-weight: 400; text-align: center; text-transform: uppercase; padding: 8px 24px; font-size: 13px; line-height: 1.5; border-radius: 0px; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { outline: 0px none; background-image: none; }
.btn-default:not(.btn-link) { background-image: none; background-color: transparent; font-weight: 400; text-align: center; text-transform: uppercase; padding: 8px 24px; font-size: 13px; line-height: 1.5; border-radius: 0px; border: 1px solid rgb(50, 50, 50); color: rgb(50, 50, 50) ! important; display: inline-block; vertical-align: middle; transform: translateZ(0px); box-shadow: 0px 0px 1px transparent; backface-visibility: hidden; position: relative; transition-property: color; transition-duration: 0.3s; }
.btn-default:focus:not(.btn-link), .btn-default:active:focus:not(.btn-link), .btn-default.active:focus:not(.btn-link) { outline: thin dotted; outline-offset: -2px; }
.btn-default:hover:not(.btn-link), .btn-default:focus:not(.btn-link) { color: rgb(51, 51, 51); text-decoration: none; }
.btn-default:active:not(.btn-link), .btn-default.active:not(.btn-link) { outline: 0px none; background-image: none; }
.btn-default:not(.btn-link)::before { content: ""; position: absolute; z-index: -1; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgb(50, 50, 50) none repeat scroll 0% 0%; transform: scaleY(0); transform-origin: 50% 100% 0px; transition-property: transform; transition-duration: 0.3s; transition-timing-function: ease-out; }
.btn-default:hover:not(.btn-link), .btn-default:focus:not(.btn-link), .btn-default:active:not(.btn-link) { color: rgb(244, 244, 244) ! important; }
.btn-default:hover:not(.btn-link)::before, .btn-default:focus:not(.btn-link)::before, .btn-default:active:not(.btn-link)::before { transform: scaleY(1); }
.form-control, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { box-shadow: none; background-color: rgb(253, 253, 253); border: 1px solid rgba(17, 17, 24, 0.2) ! important; border-radius: 0px; color: rgb(17, 17, 24); font-size: 16px; font-weight: normal; height: auto; margin-bottom: 24px; line-height: 1.5; padding: 8px 24px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.form-control:focus, select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus { box-shadow: none; border: 1px solid rgba(17, 17, 24, 0.5) ! important; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
@media only screen and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
input::-moz-placeholder, textarea::-moz-placeholder, .form-control::-moz-placeholder { text-transform: uppercase; font-size: 13px ! important; color: rgb(17, 17, 24); transition: all 0.2s ease-in-out 0s; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder, .form-control:focus::-moz-placeholder { opacity: 0.3; }
@media only screen and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
.heading_group_sc { position: relative; }
.heading_group_sc h2 { font-family: Playfair Display,sans-serif; font-weight: 700; line-height: 1.1; text-transform: uppercase; margin-top: 27px; margin-bottom: 13.5px; font-size: 40px; }
@media only screen and (max-width: 991px) {
  .heading_group_sc h2 { font-size: 36px; }
}
@media only screen and (max-width: 768px) {
  .heading_group_sc h2 { font-size: 32px; }
}
@media only screen and (max-width: 480px) {
  .heading_group_sc h2 { font-size: 28px; }
}
.heading_group_sc h3 { font-family: Playfair Display,sans-serif; font-weight: 700; line-height: 1.1; text-transform: uppercase; margin-top: 27px; margin-bottom: 13.5px; font-size: 33px; }
@media only screen and (max-width: 991px) {
  .heading_group_sc h3 { font-size: 29.7px; }
}
@media only screen and (max-width: 768px) {
  .heading_group_sc h3 { font-size: 26.4px; }
}
@media only screen and (max-width: 480px) {
  .heading_group_sc h3 { font-size: 23.1px; }
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
.heading_group_sc h1, .heading_group_sc h2, .heading_group_sc h3, .heading_group_sc h4, .heading_group_sc h5, .heading_group_sc h6 { margin-top: 0px; margin-bottom: 24px; }
@media (max-width: 768px) {
}
.heading_group_sc span.subtitle { font-weight: 300; font-size: 13px; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 3px; }
.heading_group_sc span.subtitle + .svg_divider { margin-top: 20px; }
.heading_group_sc.subtitle_bottom h1, .heading_group_sc.subtitle_bottom h2, .heading_group_sc.subtitle_bottom h3, .heading_group_sc.subtitle_bottom h4, .heading_group_sc.subtitle_bottom h5, .heading_group_sc.subtitle_bottom h6 { margin-bottom: 4px; }
.svg_divider { margin-bottom: 20px; line-height: 0; }
.svg_divider svg { fill: currentcolor; }
.teaser_box { position: relative; overflow: hidden; }
@media only screen and (max-width: 767px) {
  .teaser_box { max-width: 360px; margin-left: auto; margin-right: auto; }
}
.teaser_box .figure { display: inline-block; max-width: 100%; overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; margin-bottom: 16px; }
.teaser_box .figure.with_image { display: block; margin-bottom: 24px; }
.teaser_box .content .hgroup { margin-bottom: 16px; }
.teaser_box .content .hgroup:empty { display: none; }
.teaser_box .content .hgroup h4 { font-weight: bold; margin: 0px; }
.teaser_box .content .desc { position: relative; z-index: 1; font-size: 16px; }
.teaser_box .content .desc p { margin-bottom: 0px; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
@media (max-width: 991px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
.widget { position: relative; margin: 0px 0px 48px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.pl_about_us_widget p a:link i, .pl_about_us_widget p a:visited i { color: rgb(50, 50, 50); }
.pl_about_us_widget p a:hover i, .pl_about_us_widget p a:active i { background-color: rgb(111, 181, 134); color: rgb(244, 244, 244); }
.pl_about_us_widget p span { display: inline; margin: 0px 0px 0px 3px; }
.pl_about_us_widget p span a:link, .pl_about_us_widget p span a:visited { color: rgb(111, 181, 134); }
.pl_about_us_widget p span a:hover, .pl_about_us_widget p span a:active { color: rgb(73, 143, 96); }
.pl_about_us_widget p.contact_detail, .pl_about_us_widget p.social { margin: 10px 0px; }
.pl_about_us_widget p.contact_detail i, .pl_about_us_widget p.social i { border: 1px solid rgba(50, 50, 50, 0.07); border-radius: 50%; font-size: 16px; margin-right: 5px; text-align: center; width: 38px; height: 38px; line-height: 36px; }
.pl_about_us_widget p.contact_detail span, .pl_about_us_widget p.social span { font-size: 16px; }
.pl_about_us_widget.horizontal p.contact_detail, .pl_about_us_widget.horizontal p.social { margin: 10px 0px; }
.pl_about_us_widget.horizontal p.contact_detail i, .pl_about_us_widget.horizontal p.social i { border: 1px solid rgb(218, 218, 218); border-radius: 50%; font-size: 16px; margin-right: 10px; text-align: center; width: 48px; height: 48px; line-height: 47px; }
.pl_about_us_widget.horizontal p.contact_detail { display: inline-block; margin: 5px 10px; }
.pl_about_us_widget.horizontal p.social { margin-top: 24px; }
.footer .pl_about_us_widget p a:link i, .footer .pl_about_us_widget p a:visited i { color: rgb(253, 253, 253); }
.footer .pl_about_us_widget p a:hover i, .footer .pl_about_us_widget p a:active i { background-color: rgb(111, 181, 134); }
.footer .pl_about_us_widget p span a:link, .footer .pl_about_us_widget p span a:visited { color: rgb(253, 253, 253); }
.footer .pl_about_us_widget p span a:hover, .footer .pl_about_us_widget p span a:active { color: rgb(111, 181, 134); }
.footer .pl_about_us_widget p.social i, .footer .pl_about_us_widget p.contact_detail i { border-color: rgba(253, 253, 253, 0.1); }
p.social i.fa-facebook:hover, .team_social i.fa-facebook:hover { background-color: rgb(59, 89, 152) ! important; border-color: rgb(59, 89, 152); color: rgb(255, 255, 255); }
p.social i.fa-twitter:hover, .team_social i.fa-twitter:hover { background-color: rgb(0, 172, 237) ! important; border-color: rgb(0, 172, 237); color: rgb(255, 255, 255); }
p.social i.fa-instagram:hover, .team_social i.fa-instagram:hover { background-color: rgb(81, 127, 164) ! important; border-color: rgb(81, 127, 164); color: rgb(255, 255, 255); }
.footer .pl_about_us_widget p.social a:hover i, .footer .pl_about_us_widget p.social a:active i { background-color: transparent; }
@media (min-width: 1200px) {
}
.footer { background-color: rgb(22, 22, 29); color: rgb(253, 253, 253); }
.footer a:link, .footer a:visited { color: rgb(111, 181, 134); }
.footer a:hover, .footer a:active { color: rgb(124, 194, 147); }
.footer_widgets { padding: 48px 0px; }
.footer_bar { padding: 16px 16px 10px; font-size: 12px; }
@media only screen and (min-width: 768px) {
  .footer_bar .row { display: flex; -moz-box-align: center; align-items: center; }
}
@media only screen and (max-width: 767px) {
  .footer_bar .row > * { text-align: center ! important; }
}
.footer .widget { margin: 0px; }
#return-to-top { position: fixed; bottom: 75px; right: 20px; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; width: 50px; height: 50px; text-decoration: none; border-radius: 35px; display: none; transition: all 0.3s ease 0s; z-index: 10001; }
#return-to-top i { color: rgb(255, 255, 255); margin: 0px; position: relative; left: 16px; top: 8px; font-size: 19px; transition: all 0.3s ease 0s; }
#return-to-top:hover { background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%; }
#return-to-top:hover i { color: rgb(255, 255, 255); top: 5px; }
@media only screen and (max-width: 991px) {
}
@keyframes load1 {
0%, 80%, 100% { box-shadow: 0px 0px; height: 4em; }
40% { box-shadow: 0px -2em; height: 5em; }
}
@keyframes load1 {
0%, 80%, 100% { box-shadow: 0px 0px; height: 4em; }
40% { box-shadow: 0px -2em; height: 5em; }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
}
.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner { padding-top: 0px; }
.wpb_button, .vc_icon_element, .wpb_content_element, ul.wpb_thumbnails-fluid > li { margin-bottom: 24px; margin-top: 24px; }
